/*
PlainTwitter
Author: daniellytle
*/


.topbar {
  display: none !important;
}

.dashboard {
  display: none !important;
}

.content-main {
  width: 100% !important;
  margin: 0 !important;
}

#page-outer {
  padding-top: 2em;
}

#page-container {
  width: 600px;
  margin: 0 auto;
  max-width: 90%;
  padding-top: 0;
}

.ProfileCanopy {
  display: none !important;
}

.ProfilePage {
  min-width: inherit !important;
}

.ProfileHeading-spacer {
  display: none !important;
}

.Grid-cell:first-child {
  display: none !important;
}

.Grid-cell:nth-child(2) {
  width: 100% !important;
}

.navbox {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
}

.navbox .center {
  width: 600px;
  max-width: 90%;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}

.navbox .center a {
  color: #3B94D9;
  line-height: 1.375;
  font-size: 14px;
}
